spring:
  datasource:
   
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      # En producción usamos 'validate' para que no rompa la BD. Flyway hace los cambios.
      ddl-auto: validate

  flyway:
    enabled: true
    baseline-on-migrate: true
    # Flyway usará automáticamente la conexión del datasource de arriba

  # Configuración para tu JWT
api:
  security:
    token:
      secret: ${JWT_SECRET}


#spring.datasource.url=jdbc:mysql://localhost:3306/clinica_api
#spring.datasource.username=root
#spring.datasource.password=root
#
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true
##no deseo nunca compartir el stacktrace con mi cliente.
#server.error.include-stacktrace=never
##hay que agregarle una variable de ambiente,para q no se vea el numero
#api.security.secret=${JWT_SECRET:123456}
